#noMoreMovies {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15.3%;
  left: 4%;
  right: 4%;
  /* width: 93%; */
  height: 83%;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 700;
}
