body {
  background: rgba(0, 0, 0, 1);
  background: linear-gradient(
    0deg,
    rgba(0, 5, 33, 0.94) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 5, 33, 0.94) 100%
  );
  color: #e0e3ff;
}

#noMoreMovies {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15.5%;
  left: 5%;
  right: 5%;
  /* width: 93%; */
  height: 80%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  color: #e0e3ff;
  font-size: 30px;
  font-weight: 700;
}
